# Jupyter Notebook
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Large datasets
*.csv
*.zip
*.rar
*.7z

# Model files
*.pkl
*.joblib
*.h5
*.keras
*.pt
*.pth

# Logs
*.log